[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw.git
[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm.git
[submodule "glvx_tests/cpp-test-lib"]
	path = glvx_tests/cpp-test-lib
	url = https://github.com/Foxclip/cpp-test-lib.git
[submodule "freetype"]
	path = freetype
	url = https://gitlab.freedesktop.org/freetype/freetype.git
