[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw.git
[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm.git
[submodule "tests/cpp-test-lib"]
	path = tests/cpp-test-lib
	url = https://github.com/Foxclip/cpp-test-lib.git
